@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@300&display=swap");

/* navbar */
.remove-border-top-right-left {
  border-top: none;
  border-right: none;
  border-left: none;
}

.toDoNavItem {
  font-family: "Pathway Extreme", sans-serif;
  font-size: 0.8rem;
}

.toDoNavItem:hover {
  color: #fc4f00;
  cursor: pointer;
}

.category-section {
  background-color: grey;
  padding-bottom: 0;
}

.categories {
  border: 0.4rem solid grey;
  margin-bottom: -0.001rem;
}

.categories:hover {
  border-bottom: 0.4rem solid #fc4f00;
  cursor: pointer;
}

.footerImageIcons {
  height: 3rem;
}

.footerImageIconsDownload {
  height: 3.5rem;
  width: 10rem;
}

.footerContent {
  background-color: #f5f5f5;
}

.featureFlex {
  width: 33.3%;
}

.dealsContainer {
  width: 16%;
}

.mostWantedContainer,
.interiorTrends,
.collectionContainer {
  width: 33%;
}

.homepageTitles,
.signUpHeading {
  color: #9d6a37;
}

.shareLoveImage {
  height: 20rem;
  object-fit: cover;
}

.shareLoveDiv {
  width: 20%;
}

.igIcon {
  width: 2rem;
  margin-left: 50%;
  transform: translate(-50%, 50%);
  margin-bottom: 2rem;
}

.loginSignUpButton,
.signUpContinueButton {
  background-color: #fc4f00;
  border-radius: 0rem;
}

.dropdownMenuButtonItem {
  width: 20rem;
}

.dropdownMenuButtonItem p {
  font-size: 0.8rem;
  margin-top: -0.5rem;
}

.signUpAllFeature {
  opacity: 50%;
}

.signUpImage {
  margin-top: -2rem;
}

.googleSignUpImage {
  width: 1.2rem;
}

a {
  text-decoration: none;
  color: white;
}

.profileMenu {
  border-radius: 0;
}

.profileMenu li:hover {
  color: #fc4f00;
}

.categoryCards {
  width: 24rem;
}

.categoryCards h5 {
  margin-top: -2rem;
}

.categoryContainer {
  padding: 4rem 10rem;
}

.dropdown-menu li a {
  cursor: pointer;
}

.productDetailContainer {
  padding: 2rem 7rem;
}

.productDetailContainer .wishlistButtonContainer {
  bottom: 3rem;
  left: 1rem;
  cursor: pointer;
}

.productOtherImages {
  width: 7rem;
}

.productImage {
  width: 50rem;
}

.productBrandName {
  color: #ff7035;
}

.productDetails {
  width: 50rem;
}

.totalPrice {
  font-size: 1.5rem;
  font-weight: bold;
}

.productButtons {
  width: 22rem;
  border-radius: 0;
}

.addCartButton {
  border: 0.1rem solid #ff7035;
  color: #ff7035;
}

.addCartButton:hover {
  border: 0.1rem solid #ff7035;
  color: #ff7035;
}

.buyButton,
.exploreCatagoryButton,
.proceedPayButton {
  background-color: #ff7035;
  color: white;
  border-style: none;
  border-radius: 0;
}

.buyButton:hover {
  background-color: #ff7035;
  color: white;
  opacity: 50%;
}

.exploreCatagoryButton {
  margin: auto;
}

.cartDetailContainer {
  padding: 2rem 2rem;
}

.cartItemContainer,
.cartSummaryDetail {
  border: 0.1rem solid grey;
}

.cartItemImage {
  width: 12rem;
}

.cartProductDetails {
  font-size: 0.8rem;
}

.cartProductDetails p {
  margin-top: -0.5rem;
  margin-bottom: -1rem;
}

.cartRule {
  border-style: dashed;
}

.allCartItemsDiv {
  height: 30rem;
  overflow-y: scroll;
}

.cartAddressDiv {
  border: 0.1rem solid black;
}

.cartSummaryDetail {
  width: 30rem;
}

.deleteFromCartModal {
  border-radius: 0rem;
}

.cartDeleteModalImage {
  width: 6rem;
}

.modal-footer .productButtons {
  width: 14rem;
}

.cartProductAvailableDot {
  border-radius: 50%;
  background-color: #fc4f00;
  width: 0.8rem;
  height: 0.8rem;
  position: relative;
  bottom: 2rem;
  left: 0.9rem;
}

.wishlistButtonContainer {
  position: relative;
  bottom: 1.2rem;
  left: 21rem;
  width: 2.5rem;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.leftSectionWishList {
  width: 50rem;
  height: 5rem;
  margin-top: 1rem;
  border-bottom: 0.2rem solid #ff7035;
}

.leftSectionWishList h6 {
  color: #fc4f00;
}

.leftSectionWishList p {
  color: grey;
  font-size: 0.8rem;
}

.wishListContainer {
  padding: 2rem 15rem;
}

.cartMainImage {
  width: 70rem;
}

.wishlistsectionIcon {
  width: 3rem;
}

.allProductsWishListDiv {
  border-left: silver solid 0.1rem;
  border-right: silver solid 0.1rem;
}

.allProductsWishListDiv Link {
  width: 20rem;
}

.emptyWishListDivDivider {
  height: 0.8rem;
  margin: 1rem 0rem;
  background-color: silver;
  border-style: none;
}

.lastSectionEmptyWishlist {
  border-bottom: 0.1rem outset black;
}

.wishlistCards {
  width: 22rem;
  height: 38rem;
  margin-bottom: 2rem;
  margin-right: 0.5rem;
}

.wishlistCards .wishlistButtonContainer {
  left: 19rem;
}

.wishlistCards h5 {
  margin-top: -2rem;
}

.borderAfterWishlist {
  border: 0.1rem dashed silver;
}

.orderCards {
  border: 0.1rem solid black;
  border-radius: 1rem;
}

.orderedProductsCard {
  border: 0.1rem silver solid;
  margin: 0.5rem 0rem;
  padding: 1rem;
}

.orderedProductsCard div img {
  width: 5rem;
}

.orderSuccessPageContainer {
  margin: 4rem 10rem;
}

.finalOrderedCardAfterSuccess {
  border: 0.1rem silver solid;
  padding: 2rem;
  margin-bottom: 12rem;
}

.orderConfirmationIcon {
  width: 2rem;
  margin: 0rem 1rem;
}

.orderConfirmationImage {
  width: 15rem;
  height: 15rem;
  padding: 1rem;
}

.iconsConfirmationCard {
  width: 1rem;
  margin: 0rem 0.5rem;
}

.offCanvasCloseOrderButton {
  position: relative;
  right: 17.5rem;
  bottom: 1.2rem;
  border: 0.1rem steel solid;
}

#offcanvasRight {
  width: 30rem;
}

.filterSortContainer {
  justify-content: space-between;
  padding: 0rem 10rem;
}

.filterSortContainer select {
  border-radius: 0rem;
  width: 12rem;
}

.filterSortContainer h6 {
  align-self: flex-end;
  width: 4rem;
  color: grey;
}

.filterSortContainer button {
  border: 0.1rem solid silver;
  border-radius: 0rem;
}

.offCanvasCloseFilterButton {
  position: relative;
  left: 5.5rem;
  bottom: 1.2rem;
  border: 0.1rem steel solid;
}

.offcanvas-header {
  border-bottom: 0.1rem solid silver;
  margin: 1rem;
  padding: 0rem;
}

.filterIcons {
  height: 1.2rem;
}

.filterCategory {
  border-bottom: 0.1rem solid silver;
}

.filterClearButton {
  color: #9d6a37;
  border: 0.1rem solid #9d6a37;
  border-radius: 0rem;
  width: 10rem;
}

.filterApplyButton {
  color: white;
  background-color: #9d6a37;
  border-radius: 0rem;
  width: 12rem;
}

.filterButtons {
  position: absolute;
  bottom: 1rem;
}
